<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Joe Bostock | Portfolio</title>
</head>
<body>
    @await Html.PartialAsync("_Navbar")
    @RenderBody()
    @await Html.PartialAsync("_Footer")
</body>
</html>
