<section class="bg-background w-full flex justify-center items-center px-6 md:px-16 relative">
    <div class="w-full max-w-screen-xl flex justify-center items-center relative">
        <div class="flex flex-col md:flex-row gap-6 justify-between items-center">
            <img src="/assets/images/Aboutme.png" class="md:w-1/2 lg:min-h-96 duration-[600ms] taos:translate-x-[-200px] taos:opacity-0" data-taos-offset="400" />
            <div class="flex flex-col gap-4 w-full delay-[200ms] duration-[600ms] taos:scale-[0.6] taos:opacity-0" data-taos-offset="400">
                <h6 class="text-pink">Introduction</h6>
                <h2 class="text-4xl font-bold text-white">Who Am I?</h2>
                <p class="text-white text-lg">
                    Lorem ipsum dolor sit amet. Sed quis harum quo illum enim aut voluptatibus dolor.
                    Qui deleniti quasi in similique consequatur est unde reiciendis vel totam quia.
                </p>
            </div>
        </div>
    </div>
</section>

