<div id="contact" class="bg-background w-full flex justify-center items-center p-6 md:p-16">
    <div class="w-full max-w-screen-xl flex justify-center items-center">
        <div class="bg-purple-gradient flex flex-col justify-center items-center p-6 md:py-12 w-full md:px-24 gap-6 rounded-xl">
            <div class="flex flex-col gap-6 items-center justify-center w-full md:w-1/2 text-center">
                <div class="flex flex-col gap-2">
                    <h3 class="text-white opacity-80 font-semibold text-xl">Contact</h3>
                    <h2 class="text-white text-4xl font-bold">Interested in Working with Me?</h2>
                </div>
                <p class="text-white">
                    Lorem ipsum dolor sit amet. Sed quis harum quo illum enim aut voluptatibus dolor.
                    Qui deleniti quasi in similique consequatur est unde reiciendis vel totam quia.
                </p>
                <a href="/contact" class="py-4 px-12 bg-gradient-to-r from-[#391DBA] to-[#5634B9] bg-opacity-75 rounded-lg">
                    <p class="text-white">
                        Click here
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>