<section class="bg-background w-full flex justify-center items-center p-6 md:p-16 pt-0 md:pt-0">
    <div class="w-full max-w-screen-xl flex flex-col justify-center items-center">
        <hr class="w-full md:w-1/2 mt-10 h-0.5 bg-gradient-to-r from-transparent via-white to-transparent">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 justify-center items-start gap-8 my-16">
            <div class="col-span-2 flex flex-col gap-6 w-full md:w-3/4">
                <h1 class="text-white font-bold text-3xl">Joe Bostock</h1>
                <p class="text-white">
                    Hi, I'm Joe. I'm a 19 year old Software Engineering Apprentice.
                    I love to create projects ranging from web apps, APIs, virtual assistants and more.
                </p>
            </div>
            <div class="flex flex-col gap-4">
                <h2 class="uppercase text-white semi-bold text-xl">Information</h2>
                <a href="#skills" target="_blank" class="text-white text-lg hover:text-[#0b67c2]">Skills</a>
                <a href="/projects" target="_blank" class="text-white text-lg hover:text-[#0b67c2]">Projects</a>
                <a href="/blog" target="_blank" class="text-white text-lg hover:text-[#0b67c2]">Blog</a>
            </div>
            <div class="flex flex-col gap-4">
                <h2 class="uppercase text-white semi-bold text-xl">Socials</h2>
                <a href="https://www.linkedin.com/in/joe-bostock-300a40243/" target="_blank" class="text-white text-lg hover:text-[#0b67c2]">LinkedIn</a>
                <a href="https://github.com/ItzSimplyJoe" target="_blank" class="text-white text-lg hover:text-[#0b67c2]">Github</a>
                <a href="mailto:joebostock30@@gmail.com" class="text-white text-lg hover:text-[#0b67c2]">Email</a>
            </div>
        </div>

        <hr class="w-full md:w-1/3 h-0.5 bg-gradient-to-r from-transparent via-white to-transparent mb-8">
        <p class="text-white opacity-75">
            &copy; 2024 Joe Bostock. All rights reserved.
        </p>
    </div>
</section>