<section class="bg-background w-full flex justify-center items-center p-6 md:p-16 pb-0">
    <div class="w-full max-w-screen-xl flex justify-center items-center">
        <div class="flex justify-between items-center">
            <div class="flex flex-col gap-8 w-full text-center md:text-start">
                <h1 class="text-white text-3xl md:text-5xl font-bold delay-[300ms] duration-[600ms] taos:[transform:translate3d(0,200px,0)_scale(0.6)] taos:opacity-0" data-taos-offset="300">Transforming Ideas into Digital <span class="text-purple">Magic!</span></h1>
                <p class="text-white text-lg delay-[300ms] duration-[600ms] taos:[transform:translate3d(0,200px,0)_scale(0.6)] taos:opacity-0" data-taos-offset="300">
                    Hi, I'm Joe. I'm a 19 year old Software Engineering Apprentice.
                    I love to create projects ranging from web apps, APIs, virtual assistants and more.
                </p>
                <div class="flex flex-row gap-4 w-full md:w-2/3">
                    <a href="/contact" class="text-white hover:bg-pink bg-purple px-8 py-3 flex justify-center items-center rounded-xl w-full duration-[600ms] taos:translate-y-[200px] taos:opacity-0" data-taos-offset="300">
                        Contact
                    </a>
                    <a href="/about" class="text-white hover:bg-purple bg-pink px-8 py-3 flex justify-center items-center rounded-xl w-full delay-[200ms] duration-[600ms] taos:translate-y-[200px] taos:opacity-0" data-taos-offset="300">
                        Learn More
                    </a>
                </div>
            </div>
            <img src="/assets/images/heroImage.png" class="md:w-1/2 md:block hidden lg:min-h-96 delay-[300ms] duration-[600ms] taos:translate-x-[200px] taos:opacity-0" data-taos-offset="400"  />
        </div>
    </div>
</section>