<div class="bg-background w-full flex justify-center items-center py-4 px-6">
    <div class="w-full max-w-screen-xl flex justify-center items-center">
        <div class="flex justify-between items-center gap-6 w-full">
            <a href="/" class="text-white font-semibold text-xl">Joe Bostock</a>
            <div class="flex flex-row gap-6 items-center justify-center">
                @foreach (var item in Outputs.FromPipeline("Content").Where(item => item.GetBool("Navbar")).OrderBy(item => item.GetInt("Order")))
                {
                    <a href="@item.GetLink()" class="text-white opacity-75 hover:opacity-100 transition-all duration-500">
                        @item.GetTitle()
                    </a>
                }
            </div>
            <a href="/contact" class="bg-purple flex justify-center items-center text-white font-semibold px-4 py-2 rounded-lg">
                Contact me
            </a>
        </div>
    </div>
</div>